apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: recipe-page-main-app
    newName: recipe-page-main-app
    newTag: latest
